html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: mont-regular;
  src: url(../../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: mont-bold;
  src: url(../../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: mont-light;
  src: url(../..//montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: mont-thin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: mont-extrathin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: jq-regular;
  src: url(../../jqkas/JqkasWild-w1YD6.ttf);
}
nav {
  margin-top: 0;
  width: 100vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav h1 {
  color: white;
  font-family: thin;
  margin-left: 2rem;
  font-size: 1.85rem;
}
nav section {
  display: flex;
  justify-content: space-evenly;
  width: 22%;
  color: white;
  align-items: center;
  font-family: thin;
  font-size: 1.35rem;
  margin-right: 2rem;
}
nav section div {
  cursor: pointer;
}
nav section div:hover {
  text-decoration: underline;
}

.board {
  font-family: mont-regular;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(64.68% 64.68% at 50% 50%, #007805 0%, #002f02 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.board .goHome {
  position: absolute;
  top: 2px;
  left: 5px;
  color: white;
  font-family: mont-light;
  text-decoration: none;
  font-size: 1rem;
}
.board .result2 .card {
  width: 150px;
  height: auto;
}
.board .result .card {
  width: 150px;
  height: auto;
}
.board .buttons button {
  width: 100px;
  aspect-ratio: 1/1;
}

body {
  overflow: hidden;
  background: radial-gradient(64.68% 64.68% at 50% 50%, #007805 0%, #002f02 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
body .logIn {
  width: 300px;
  aspect-ratio: 1/1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .logIn h2 {
  font-family: jq-regular;
  letter-spacing: 5px;
  font-size: 50px;
}
body .logIn div {
  font-family: mont-light;
}
body .logIn div input {
  border-width: 0px;
  border-bottom: 1px solid white;
  width: 100%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0);
}
body .logIn div input:focus {
  border-width: 0px;
  outline: 0;
  border-bottom: 2px solid white;
}

h1 {
  font-family: jq-regular;
  color: black;
  font-size: clamp(4.375rem, 0.053rem + 13.83vw, 12.5rem);
  font-weight: normal;
}
h1 .whiteText {
  color: white;
}

.links {
  position: absolute;
  color: #c89963;
  font-family: mont-bold;
  margin-top: clamp(4.4rem, -0.174rem + 14.638vw, 13rem);
  margin-right: clamp(-8rem, -20.234rem + 39.149vw, 15rem);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.links a {
  color: #c89963;
  text-decoration: none;
  font-size: clamp(1rem, 0.734rem + 0.851vw, 1.5rem);
}
.links a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */