html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  font-kerning: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: mont-regular;
  src: url(../../bold.ttf);
}
@font-face {
  font-family: mont-bold;
  src: url(../../bold.ttf);
}
@font-face {
  font-family: mont-light;
  src: url(../../bold.ttf);
}
@font-face {
  font-family: mont-thin;
  src: url(../../bold.ttf);
}
@font-face {
  font-family: mont-extrathin;
  src: url(../../bold.ttf);
}
@font-face {
  font-family: jq-regular;
  src: url(../../bold.ttf);
}
.goHome {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-family: mont-light;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 2rem;
  background-color: red;
  border-radius: 5px;
}

.board {
  font-family: mont-regular;
  width: 100vw;
  height: 100vh;
  background-image: url(../../poker.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.board .result2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.board .result2 .card {
  width: 150px;
  height: auto;
}
.board .result .card {
  width: 150px;
  height: auto;
}
.board .buttons button {
  color: white;
  font-family: mont-light;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 2rem;
  background-color: red;
  border-radius: 6px;
  border: 0cap;
  width: 10rem;
}
.board .buttons button:hover {
  cursor: pointer;
}
.board .buttons button:nth-child(1) {
  background-color: blue;
}
.board .buttons button:nth-child(2) {
  background-color: #E79F0D;
}

body {
  overflow: hidden;
  background-image: url(../../poker.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
body .logIn {
  width: 50vw;
  aspect-ratio: 1/1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .logIn h2 {
  font-family: jq-regular;
  letter-spacing: 5px;
  font-size: 5rem;
}
body .logIn div {
  width: 100%;
  font-family: mont-light;
}
body .logIn div label {
  font-size: 3rem;
}
body .logIn div input {
  font-family: mont-light;
  color: white;
  border-width: 0px;
  border-bottom: 1px solid white;
  width: 100%;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0);
}
body .logIn div input:focus {
  border-width: 0px;
  outline: 0;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
}
body .logIn button {
  font-family: mont-light;
  border: 0ch;
  font-size: 3rem;
  height: 5rem;
  margin-top: 3rem;
  width: 20rem;
  color: white;
  background-color: #E79F0D;
  border-radius: 6px;
}
body .logIn button:hover {
  cursor: pointer;
}

.wel {
  display: block;
}

.ethan {
  height: 20rem;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
}

.cardo1 {
  height: 20rem;
  position: absolute;
  left: 40%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%) rotate(-10deg);
}

.cardo2 {
  height: 20rem;
  position: absolute;
  left: 60%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%) rotate(10deg);
}

h1 {
  display: flex;
  font-family: jq-regular;
  color: black;
  font-size: 10rem;
  font-weight: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
h1 .whiteText {
  color: white;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: clamp(6rem, 3rem + 16vw, 8rem);
  }
  h1 .links {
    width: 100vw;
    text-align: center;
    margin-left: 0;
    font-size: clamp(0.8rem, 0.05rem + 4vw, 1.3rem);
  }
}
.links {
  width: 100vw;
  font-size: 5rem;
  width: 100vw;
  color: #E79F0D;
  font-family: mont-bold;
  font-weight: normal;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  bottom: 0%;
}
.links a {
  color: #E79F0D;
  text-decoration: none;
  height: 10vh;
  line-height: 10vh;
}
.links a:hover {
  text-decoration: underline;
}
.links span {
  height: 10vh;
  line-height: 10vh;
  font-size: 6rem;
}

.flip-box {
  background-color: transparent;
  width: 150px;
  height: 218.5px;
  perspective: 1000px;
  transform: rotateY(0deg);
}

#flipBoxInner.flipped {
  transform: rotateY(180deg);
}

#flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front img,
.flip-box-back img {
  width: 150px;
  height: auto;
}

.flip-box-front {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.flip-box-back {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transform: rotateY(180deg);
}

.dash {
  display: flex;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 5rem;
  font-family: mont-regular;
  padding: 4rem;
  text-align: center;
  font-weight: normal;
}
.dashboard h3 {
  margin-top: 1rem;
  font-weight: normal;
}
.dashboard section div {
  width: 100vw;
  height: 100vh;
  color: white;
  border-radius: 30px;
  padding: 1rem;
}
.dashboard section div h4 {
  font-weight: normal;
  padding-top: 2rem;
  font-size: 3.5rem;
  text-align: center;
}
.dashboard section div ul {
  overflow: auto;
  text-align: center;
  width: 45vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-size: 2.5rem;
  font-family: mont-light;
  list-style-type: none;
}
.dashboard section div ul li {
  padding-top: 2rem;
}
.dashboard section div ul li a {
  height: 5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 20rem;
  color: white;
  border-radius: 4px;
}

.containero {
  display: flex;
  justify-content: space-evenly;
}

.logout {
  width: 100%;
}
.logout a {
  background-color: red;
}

.play {
  width: 100%;
}
.play a {
  background-color: #E79F0D;
}/*# sourceMappingURL=style.css.map */