.board {
  font-family: mont-regular;
  width: 100vw;
  height: 100vh;
  background-image: url(../../poker.png);
  @include flexCenter(column);
  color: white;
  .result2 {
    @include flexCenter(row);
    .card {
      width: 150px;
      height: auto;
    }
  }
  .result {
    
    .card {
      width: 150px;
      height: auto;
    }
  }
  .buttons {
    button {
      color: white;
        font-family: mont-light;
        text-decoration: none;
        padding: .5rem 1rem .5rem 1rem;
        font-size: 2rem;
        background-color: red;
        border-radius: 6px;
        border: 0cap;
        width: 10rem;
        &:hover{
          cursor: pointer;
        }
        &:nth-child(1){
        background-color: blue;
        }
                &:nth-child(2) {
                  background-color: #E79F0D;
                }
    }
    
  }
}
