.dashboard {

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 5rem;
  font-family: mont-regular;
  padding: 4rem;
  text-align: center;
  font-weight: normal;
  // margin-top: 4rem;
  h3 {
    margin-top: 1rem;
  font-weight: normal;
  }
  section {
    div {
      width: 100vw;
      height: 100vh;
      color: white;
      border-radius: 30px;
      padding: 1rem;
      h4 {
        font-weight: normal;
        padding-top: 2rem;
        font-size: 4rem;
        text-align: center;
      }
      ul {
        overflow:auto;
        text-align: center;
        width: 45vw;
        height: 80vh;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 30px;
        font-size: 3rem;
        font-family: mont-light;
        list-style-type: none;
        li{
          padding-top: 2rem;
          a{
            height: 5rem;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 20rem;
            color: white;
      border-radius: 4px;
          }
        }
      }
    }
  }
}
.containero{
  display: flex;
  justify-content: space-evenly;
}
.logout{
  width: 100%;
  a {
      background-color: red;
    }
}
.play {
  width: 100%;
  a{
    background-color: #E79F0D;
  }
}