@font-face {
  font-family: mont-regular;
  src: url(../../bold.otf);
}
@font-face {
  font-family: mont-bold;
  src: url(../../bold.otf);
}
@font-face {
  font-family: mont-light;
  src: url(../../bold.otf);
}
@font-face {
  font-family: mont-thin;
  src: url(../../bold.otf);
}
@font-face {
  font-family: mont-extrathin;
  src: url(../../bold.otf);
}
@font-face {
  font-family: jq-regular;
  src: url(../../bold.otf);
}
