.wel{
  display: block;
}
h1 {
  font-family: jq-regular;
  color: black;
  font-size: 10rem;
  font-weight: normal;
  
  
  .whiteText {
    color: white;
    font-size: 4rem;
  }
  
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: clamp(6rem, 3rem + 16vw, 8rem);
    .links {
      width: 100vw;
      text-align: center;
      margin-left: 0;
      font-size: clamp(0.8rem, 0.05rem + 4vw, 1.3rem);
    }
  }
}
.links {
  width: 100vw;
  font-size: 5rem;
  width: 100vw;
    // position: absolute;
    color: #E79F0D;
    font-family: mont-bold;
    font-weight: normal;
    // span {
    //   height: 1rem;
    // }

    a {
      color: #E79F0D;
      text-decoration: none;
      height: 10vh;
        line-height: 10vh;
      &:hover {
        text-decoration: underline;
      }
    }
    span{
      height:10vh;
      line-height: 10vh;
      font-size: 6rem;
    }
    // margin-top: clamp(4.4rem, -0.174rem + 14.638vw, 13rem);
    // margin-right: clamp(-8rem, -20.234rem + 39.149vw, 15rem);
    height: 40vh;
    @include flexCenter(row);
    gap: 20px;
    position: absolute;
    bottom: 0%;
  }