@font-face {
  font-family: mont-regular;
  src: url(../../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: mont-bold;
  src: url(../../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: mont-light;
  src: url(../..//montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: mont-thin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: mont-extrathin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: jq-regular;
  src: url(../../jqkas/JqkasWild-w1YD6.ttf);
}
