h1 {
  font-family: jq-regular;
  color: black;
  font-size: 200px;
  font-weight: normal;
  .whiteText {
    color: white;
  }
}
.links {
  position: absolute;
  color: #c89963;
  font-family: mont-bold;
  a {
    color: #c89963;
    text-decoration: none;
    font-size: 1.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
  margin-top: 25vh;
  margin-left: -18vw;
  width: 30vw;
  height: auto;
  @include flexCenter(row);
  gap: 20px;
}
